@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply overflow-hidden antialiased font-open-sans bg-dark-900 text-primary;
}

pre {
  @apply antialiased font-open-sans;
}

/* This sets the style for alt text for images */
img {
  @apply flex items-center justify-center overflow-hidden text-xs text-opacity-50 text-brand-500;
}

/* Scroll bar stylings */
::-webkit-scrollbar {
  @apply w-1.5;
}
/* Track */
::-webkit-scrollbar-track {
  @apply bg-transparent;
}
/* Handle */
::-webkit-scrollbar-thumb {
  @apply rounded-full bg-dark-600;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-dark-500;
}

/* Hide numeric input arrows */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
